In [1]:
import duckdb
import os

In [8]:
token = os.getenv("MOTHERDUCK_TOKEN")

In [17]:
con = duckdb.connect(f"md:titanic_test?motherduck_token={token}")

In [19]:
con.execute("""
            CREATE TABLE test AS
            SELECT * FROM read_csv_auto('test.csv')
            """
)

In [ ]:
con.execute("SELECT * FROM test LIMIT 5").fetch_df()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

: